/.vscode
/divisbleby3.cpp
/FloydTriangle.cpp
/flypattern.cpp
/flypattern.exe
/halfpyrmd180.cpp
/numPattern.exe
/numPatternAd.cpp
/numPatternAd.exe
/numPatterns.cpp
/PalindromicPattern.exe
/pyramid.exe
/rectanglePattern.exe